#menu {
    background-color: #D6D5D4;
    border-bottom: 2px solid #FFFFFF;
    height: 43px;
    list-style: none outside none;
    width: 1024px;
}

#menu li {
    border: medium none;
    display: block;
    float: left;
    position: relative;
    text-align: center;
}
#menu li:hover {
    background-color: #424343;
}
.main-menu-1 {
    width: 341px;
}
.main-menu-2 {
    width: 342px;
}
.main-menu-1 {
    width: 341px;
}
#menu li a {
    border-right: 1px solid #FFFFFF;
    color: #6A7677;
    display: block;
    font-size: 14px;
    font-weight: bold;
    line-height: 23px;
    outline: 0 none;
    padding: 10px;
    text-decoration: none;
}
#menu li:hover a {
color:#F5F9F8;
}
.dropdown_5columns {
    width: 342px;
}
.dropdown_5columns {
    background-color: #494949;
    border-top: 2px solid #FFFFFF;
    color: #F5F9F8;
    float: left;
    left: -999em;
    position: absolute;
    text-align: left;
}
#menu li:hover .dropdown_5columns {
	left:-1px;
	top:auto;
}

#menu li h3 {
    color: #F5F9F8;
    font-size: 12px;
    padding: 10px 25px;
}
.simple-link {
    background-color: #494949 !important;
    color: #F5F9F8 !important;
    font-size: 12px !important;
    padding: 10px 25px !important;
}

#menu li ul.listUL li {
    display: block;
    float: none;
}

#menu li ul.listUL li a {
    background-color: #494949;
    font-size: 12px;
    line-height: 14px;
    padding: 5px 25px;
    text-align: left;
	color:#F5F9F8;
	border-right:none;
}

#menu li ul.listUL li a:hover {
    color: #54C6FC;
}